################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs/solSistemaRestaurante2025/FileContentIndex/f05d7d13-bcb9-4e58-9d76-d21d7689cbae.vsidx
